<div class="wrapper">
   <header class="cf">
        <h3 ng-show="!userIsAdmin">Hello {{user.data.firstName}}</h3>
        <a href="/admin"><h3 ng-show="userIsAdmin">Admin Page</h3></a>
        <nav>
            <ul>
                <li ng-click="redirectToProfile()">{{link1}}</li>                                
                <li class="active" ng-click="redirectToEditPage()">{{link2}}</li>
            </ul>
        </nav>

        <button class="btn btn-success" ng-click="logOut()">Log Out</button>
    </header>
   

    <main class="user-profile">   
        <div class="user-info-form auth-form">
            <div>
                <h3>Edit your information</h3>
            </div>
            <form class="form-group" ng-submit="edit(user)">
               <div>
                   <label for="first-name">First Name:</label>
                   <input type="text" required name="first-name" id="first-name" class="form-control" placeholder="Your first name" ng-model="user.data.firstName" ng-model-options="{updateOn: 'submit'}">
               </div>

               <div>
                   <label for="last-name">Last name:</label>
                   <input type="text" required name="last-name" id="last-name" class="form-control" placeholder="Your last name" ng-model="user.data.lastName" ng-model-options="{updateOn: 'submit'}">
               </div>

               <div>
                   <label for="email">Email:</label>
                   <input type="email" required name="email" id="email" class="form-control" placeholder="e.g. example@email.com" ng-model="user.data.email" ng-model-options="{updateOn: 'submit'}">
               </div>

               <div>
                   <label for="password">Password:</label>
                   <input type="password" name="password" id="password" class="form-control" placeholder="Type your password" ng-model-options="{updateOn: 'submit'}">
               </div>
               
               <button id="adminBtn" ng-show="userIsAdmin" ng-click="changeUserPremission(user)" type="button" class="btn btn-info">Set user as {{ user.data.admin ? "regular user" : "administrator"}}</button>

               <div>
                   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Save</button>

                   <div id="confirmModal" class="modal" role="dialog">
                       <div class="modal-dialog">
                           <div class="modal-content">
                               <div class="modal-header">
                                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   <h3>Edit Info</h3>
                               </div>
                               <div class="modal-body">
                                   <p>Are you sure you want to edit your informations?</p>
                               </div>
                               <div class="modal-footer">
                                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                   <input type="submit" class="form-control btn btn-success" value="Confirm">
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </form>
        </div>
    </main>
</div>